.header {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 3;
}

.header .menu {
    position: relative;
    font-family: "pixelfontRegular";
	font-weight: 400;
	font-style: normal;
}

.header .menu .menu-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .menu .menu-list .menu-item {
    display: inline-block;
}

.header .menu .menu-list .menu-item::after {
    content: "|";
    margin-right: 18px;
    font-family: "Montserrat", sans-serif;
}

.header .menu .menu-list .menu-item:last-child::after {
    display: none;
}

.header .menu .menu-list .menu-item .menu-link {
    font-size: 12px;
    color: #fff;
    text-shadow:
    2px 0 #000,
   -2px 0 #000,
    0 2px #000,
    0 -2px #000,
    2px 2px #000,
   -2px 2px #000,
    2px -2px #000,
   -2px -2px #000;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    transition: color 0.3s ease;
}

.menu::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('../img/menu-bg.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    display: block;
    width: 100%;
    height: 113px;
    z-index: -1;
}

.menu-burger {
    display: none;
    border: none;
    background-color: transparent;
}

.menu-burger .hm {
    display: block;
    width: 35px;
    height: 4px;
    background-color: #fff;
    margin: 5px 0;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.menu-burger.active .hm:nth-child(2) {
    opacity: 0;
}
.menu-burger.active .hm:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
    background-color: #fff;
}
.menu-burger.active .hm:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
    background-color: #fff;
}

@media(max-width: 1399px) {
    .header .menu .menu-list .menu-item .menu-link {
        font-size: 10px;
    }

    .menu::before {
        height: 100px;
    }
}

@media(max-width: 1199px) {
    .header .menu .menu-list .menu-item .menu-link {
        font-size: 9px;
    }

    .menu::before {
        height: 85px;
    }
}

@media(max-width: 991px) {
    .menu-burger {
        display: block;
        position: absolute;
        left: 20px;
        top: 20px;
        z-index: 1;
    }

    .header .menu .menu-list .menu-item .menu-link {
        font-size: 14px;
    }

    .header {
        margin-top: 0;
        top: initial;
        left: initial;
        transform: initial;
        width: 100%;
    }

    .header .menu {
        height: 97vh;
        position: absolute;
        top: 10px;
        left: -100%;
        padding: 20px;
        width: 40%;
        background-color: #022348;
        border-radius: 10px;
        transition: .3s ease;
    }

    .header .menu.open {
        left: 10px;
    }

    .header .menu .menu-list {
        flex-direction: column;
        margin-top: 40px;
    }

    .header .menu .menu-list .menu-item {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .menu::before,
    .header .menu .menu-list .menu-item::after {
        display: none;
    }
}

@media(max-width: 767px) {
    .header .menu {
        width: 60%;
    }
}

@media(max-width: 500px) {
    .header .menu {
        width: 85%;
    }
}

.banner-main {
    position: relative;
    z-index: 2;
    background-image: url('../img/patern-1.png');
    background-size: 100%;
}

.welcome {
    position: relative;
    margin-top: -80px;
    padding: 40px 80px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #213c72;
    z-index: 1;
}

.welcome::after {
    content: "";
    position: absolute;
    bottom: -25px;
    right: -25px;
    background-image: url(../img/welcome-bg-after.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 230px;
    height: 60px;
}

.welcome .welcome-img {
    position: relative;
    margin-right: 80px;
    width: 25%;
}

.welcome .welcome-img::before {
    content: "";
    position: absolute;
    top: -112px;
    left: -50px;
    display: block;
    background-image: url(../img/welcome-before.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 160px;
    height: 120px;
}

.welcome .welcome-img::after {
    content: "";
    position: absolute;
    bottom: -112px;
    right: -50px;
    display: block;
    background-image: url(../img/welcome-after.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 160px;
    height: 185px;
}

.welcome .welcome-caption {
    color: #fff;
    width: 48%;
}

.welcome .welcome-caption .title {
    font-family: "pixelfontBold";
    color: #ffd800;
    font-size: 20px;
    margin-bottom: 20px;
}

.welcome .welcome-caption .text {
    margin-bottom: 10px;
    font-size: 18px;
}

@media(max-width: 1500px) {
    .welcome .welcome-img::before {
        top: -89px;
        left: -50px;
        width: 120px;
        height: 90px;
    }

    .welcome .welcome-img::after {
        bottom: -88px;
        right: -30px;
        width: 105px;
        height: 127px;
    }
}

@media(max-width: 1400px) {
    .welcome {
        margin-top: -60px;
    }
}

@media(max-width: 1300px) {
    .welcome .welcome-img::before {
        top: -110px;
        left: -50px;
        width: 120px;
        height: 90px;
    }

    .welcome .welcome-img::after {
        bottom: -110px;
        right: -30px;
        width: 105px;
        height: 127px;
    }
}

@media(max-width: 1200px) {
    .welcome .welcome-caption { width: 60%; }
}

@media(max-width: 992px) {
    .welcome {
        margin-top: -40px;
        width: 100%;
    }

    .welcome::after {
        content: "";
        position: absolute;
        bottom: -20px;
        right: 10px;
        background-image: url(../img/welcome-bg-after.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 230px;
        height: 60px;
    }

    .welcome .welcome-img { margin-right: 20px; }

    .welcome .welcome-img::before,
    .welcome .welcome-img::after { display: none; }
}

@media(max-width: 768px) {
    .welcome {
        padding: 50px 20px;
    }

    .welcome .welcome-img {
        margin-right: 15px;
        width: 35%;
    }

    .welcome .welcome-caption { width: 65%; }

    .welcome .welcome-caption .title {
        font-size: 18px;
        margin-bottom: 15px;
    }
    .welcome .welcome-caption .text {
        font-size: 15px;
        line-height: 18px;
    }
}

@media(max-width: 500px) {
    .welcome .welcome-img { display: none; }
    .welcome .welcome-caption { width: 100%; }
}

.checklist {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 60px;
    background-image: url('../img/patern-2.png');
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: bottom;
}

.checklist .checklist-banner { width: 55%; }
.checklist .checklist-content { width: 45%; margin-top: 80px; }

.checklist .checklist-content {
    text-align: right;
}

.checklist .checklist-content .title {
    font-family: "pixelfontBold";
    color: #ffd800;
    display: inline-block;
    background-color: #213c72;
    padding: 10px 150px 10px 10px;
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 28px;
}

.checklist .checklist-content .check-space { margin-right: 50px; }
.checklist .checklist-content .text {
    font-size: 28px;
    margin-bottom: 15px;
}

.checklist .checklist-content .checklist-list .check-item {
    margin-bottom: 25px;
    font-size: 23px;
    line-height: 25px;
}

.checklist .checklist-content .checklist-list .check-item i {
    margin-right: 5px;
    color: #7cb342;
}

.checklist .checklist-content .btn-download {
    display: inline-block;
    width: 43%;
}

.checklist.luggage {
    flex-direction: row-reverse;
    background-image: none;
}

.checklist.luggage .checklist-content {
    text-align: left;
    margin-top: 0;
    width: 50%;
}

.checklist.luggage .checklist-content .title {
    padding: 25px 60px 25px 100px;
    line-height: 28px;
}

.checklist.luggage .checklist-content .subtitle {
    font-family: 'larsseitBold';
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 45px;
    margin-top: 20px;
}

.checklist.luggage .checklist-content .text {
    font-size: 22px;
    letter-spacing: 1px;
    margin-bottom: 30px;
    line-height: 28px;
}

.checklist.luggage .checklist-content .check-space {
    margin-right: 0;
    margin-left: 50px;
}

@media(max-width: 1600px) {
    .checklist .checklist-content .title {
        padding: 10px 100px 10px 10px;
        font-size: 18px;
    }

    .checklist .checklist-content .text {
        font-size: 24px;
    }

    .checklist .checklist-content .checklist-list .check-item {
        font-size: 20px;
        line-height: 22px;
    }

    .checklist.luggage .checklist-content .title {
        padding: 25px 60px 25px 50px;
        font-size: 18px;
        line-height: 22px;
    }

    .checklist.luggage .checklist-content .subtitle {
        font-size: 22px;
        margin-bottom: 35px;
    }

    .checklist.luggage .checklist-content .text {
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 25px;
    }
}

@media(max-width: 1400px) {
    .checklist .checklist-content .title {
        padding: 10px;
        font-size: 18px;
    }

    .checklist .checklist-content .text { font-size: 20px; }

    .checklist .checklist-content .checklist-list .check-item {
        font-size: 18px;
        line-height: 22px;
    }

    .checklist.luggage .checklist-content .title {
        padding: 25px;
        font-size: 18px;
        line-height: 22px;
    }
}

@media(max-width: 1150px) {
    .checklist,
    .checklist.luggage {
        flex-direction: column;
        align-items: center;
    }

    .checklist .checklist-banner,
    .checklist .checklist-content,
    .checklist.luggage .checklist-banner,
    .checklist.luggage .checklist-content {
        width: 100%;
        text-align: center;
        margin-top: 0;
    }

    .checklist .checklist-content .title {
        padding: 10px;
    }

    .checklist .checklist-content .check-space { margin-right: 0; }
    .checklist .checklist-content .btn-download { width: 40%; }

    .checklist.luggage .checklist-content {
        text-align: center;
        margin-left: 0;
    }

    .checklist.luggage .checklist-content .title {
        padding: 20px;
    }

    .checklist.luggage .checklist-content .check-space { margin-left: 0; }
}

@media(max-width: 550px) {
    .checklist .checklist-content .title { font-size: 16px; }
    .checklist .checklist-content .btn-download { width: 80%; }
    .checklist .checklist-content .checklist-list .check-item,
    .checklist.luggage .checklist-content .text { font-size: 16px; }
}

.timeline-trip {
    margin-top: 80px;
    position: relative;
}

.timeline-trip::before {
    position: absolute;
    top: -130%;
    left: -20%;
    content: "";
    display: block;
    width: 100%;
    height: 2000px;
    background-image: url('../img/patern-3.png');
    background-repeat: no-repeat;
    background-position: 100%;
    z-index: -1;
}

.timeline-trip .title {
    font-family: "pixelfontBold";
    color: #ffd800;
    background-color: #213c72;
    display: block;
    text-align: center;
    padding: 20px 0;
    width: 35%;
    margin: 0 auto;
    margin-bottom: 35px;
}

.timeline-trip .text {
    text-align: center;
    font-size: 18px;
    margin-bottom: 40px;
}

.timeline-trip .trip-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.timeline-trip .trip-content .card-trip {
    width: calc((100% / 3) - 30px);
    background-color: #213c72;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    color: #fff;
    z-index: 1;
}

.timeline-trip .trip-content .card-trip.deg-1 { transform: rotate(-1.5deg); }
.timeline-trip .trip-content .card-trip.deg-2 { transform: rotate(2deg); }
.timeline-trip .trip-content .card-trip.deg-3 { transform: rotate(-1.2deg); }

.timeline-trip .trip-content::before {
    content: "";
    position: absolute;
    top: -40px;
    left: -50px;
    display: block;
    width: 75px;
    height: 100px;
    background-image: url('../img/card-rock.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: -1;
}

.timeline-trip .trip-content::after {
    content: "";
    position: absolute;
    top: -40px;
    right: -50px;
    display: block;
    width: 75px;
    height: 100px;
    background-image: url('../img/card-smile.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: -1;
}

.timeline-trip .trip-content .card-trip img {
    border-radius: 5px;
    margin-bottom: 16px;
}

.timeline-trip .trip-content .card-trip .info-trip h4 {
    font-family: "pixelfontBold";
    font-size: 13px;
    margin-bottom: 5px;
    line-height: 20px;
}

.timeline-trip .trip-content .card-trip .info-trip p {
    font-family: "larsseitMedium";
    font-size: 16px;
}

.timeline-trip .trip-content .card-trip .info-trip span {
    font-family: "larsseitRegular";
    font-size: 12px;
    font-style: italic;
}

.timeline-trip .info-obs {
    position: relative;
    margin-bottom: 5px;
    font-size: 18px;
    text-align: center;
    display: block;
}

strong.info-obs::before {
    content: "";
    position: absolute;
    top: -100px;
    left: 30%;
    display: block;
    width: 75px;
    height: 100px;
    background-image: url('../img/card-confete.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: -1;
}

.timeline-trip .btn-calendar img {
    margin: 0 auto;
    margin-top: 30px;
    width: 25%;
}

@media(max-width: 1399px) {
    .timeline-trip .title { width: 40%; }
}

@media(max-width: 1199px) {
    .timeline-trip .title { width: 60%; }
}

@media(max-width: 991px) {
    .timeline-trip .title { width: 60%; }
    .timeline-trip .trip-content { justify-content: center; }
    .timeline-trip .trip-content .card-trip { width: calc((100% / 2) - 30px); margin: 10px 15px; }
    strong.info-obs::before { left: 20%; }
    .timeline-trip .trip-content::before { left: -30px; }
    .timeline-trip .trip-content::after {
        top: -30px;
        right: -40px;
    }

    .timeline-trip .btn-calendar img {
        margin: 0 auto;
        margin-top: 30px;
        width: 50%;
    }
}

@media(max-width: 767px) {
    .timeline-trip .title { width: 90%; }
    .timeline-trip .trip-content { justify-content: center; }
    .timeline-trip .trip-content .card-trip { width: 70%; }

    strong.info-obs::before,
    .timeline-trip .trip-content::after,
    .timeline-trip .trip-content::before { display: none; }
}

@media(max-width: 445px) {
    .timeline-trip .title { width: 100%; }
    .timeline-trip .trip-content .card-trip { width: 100%; }

    .timeline-trip .btn-calendar img {
        margin: 0 auto;
        margin-top: 30px;
        width: 70%;
    }
}

.tips {
    margin-top: 80px;
    background-image: url('../img/patern-4.png');
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: right top;
}

.tips .title {
    font-family: "pixelfontBold";
    color: #ffd800;
    background-color: #213c72;
    display: block;
    text-align: center;
    padding: 20px 0;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 35px;
}

.tips .tips-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tips .tips-content .tips-card {
    width: calc((100% / 3) - 30px);
    margin: 0 15px;
    text-align: center;
    background-color: #213b71;
    color: #fff;
    border-radius: 20px;
    padding: 15px;
}

.tips .tips-content .tips-card .tips-inf {
    padding: 0 15px;
}

.tips .tips-content .tips-card .tips-inf .text {
    margin-bottom: 25px;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 1px;
}

.tips .tips-content .tips-card .tips-inf span.text {
    font-size: 15px;
    font-style: italic;
}

.tips .tips-content .tips-card .tips-inf .help {
    display: block;
    background-color: #fff;
    text-decoration: none;
    color: #213b71;
    text-align: center;
    padding: 20px;
    border-radius: 50px;
    font-family: 'larsseitBold';
    margin-bottom: 5px;
}

.tips .tips-content .tips-card .tips-inf .whatsapp {
    letter-spacing: 1px;
    font-size: 18px;
    line-height: 25px;
}

.tips .tips-content .tips-card .tips-inf .whatsapp i { color: #1cb556; }

.tips .tips-content .tips-card img {
    margin: 0 auto;
    margin-bottom: 30px;
    width: 60%;
}

.tips .details img {
    margin: 0 auto;
    margin-top: 40px;
    width: 40%;
}

@media(max-width: 1399px) {
    .tips .title { width: 80%; }
}

@media(max-width: 1199px) {
    .tips .tips-content .tips-card .tips-inf { padding: 5px; }
}

@media(max-width: 991px) {
    .tips .tips-content .tips-card .tips-inf { padding: 0px; }
    .tips .title { width: 100%; line-height: 25px; padding: 10px 10px; }
    .tips .tips-content .tips-card { width: calc((100% / 2) - 15px); margin: 0 5px; margin-bottom: 10px; }
    .tips .details img { width: 60%; }
}

@media(max-width: 550px) {
    .tips .tips-content .tips-card { width: 80%; }
    .tips .details img { width: 80%; }
}

@media(max-width: 375px) {
    .tips .tips-content .tips-card { width: 95%; }
    .tips .details img { width: 95%; }
}